In [60]:
import csv
import os
import pandas as pd
import numpy as np

In [3]:
file = os.path.join('data', 'Batting.csv')
batters = pd.read_csv(file)
batters.head()

,playerID,yearID,stint,teamID,lgID,G,AB,R,H,2B,...,RBI,SB,CS,BB,SO,IBB,HBP,SH,SF,GIDP
0,abercda01,1871,1,TRO,NaN,1,4,0,0,0,...,0.0,0.0,0.0,0,0.0,NaN,NaN,NaN,NaN,0.0
1,addybo01,1871,1,RC1,NaN,25,118,30,32,6,...,13.0,8.0,1.0,4,0.0,NaN,NaN,NaN,NaN,0.0
2,allisar01,1871,1,CL1,NaN,29,137,28,40,4,...,19.0,3.0,1.0,2,5.0,NaN,NaN,NaN,NaN,1.0
3,allisdo01,1871,1,WS3,NaN,27,133,28,44,10,...,27.0,1.0,1.0,0,2.0,NaN,NaN,NaN,NaN,0.0
4,ansonca01,1871,1,RC1,NaN,25,120,29,39,11,...,16.0,6.0,2.0,2,1.0,NaN,NaN,NaN,NaN,0.0

In [4]:
file = os.path.join('data', 'People.csv')
people = pd.read_csv(file)
people.head()

,playerID,birthYear,birthMonth,birthDay,birthCountry,birthState,birthCity,deathYear,deathMonth,deathDay,...,nameLast,nameGiven,weight,height,bats,throws,debut,finalGame,retroID,bbrefID
0,aardsda01,1981.0,12.0,27.0,USA,CO,Denver,NaN,NaN,NaN,...,Aardsma,David Allan,215.0,75.0,R,R,2004-04-06,2015-08-23,aardd001,aardsda01
1,aaronha01,1934.0,2.0,5.0,USA,AL,Mobile,NaN,NaN,NaN,...,Aaron,Henry Louis,180.0,72.0,R,R,1954-04-13,1976-10-03,aaroh101,aaronha01
2,aaronto01,1939.0,8.0,5.0,USA,AL,Mobile,1984.0,8.0,16.0,...,Aaron,Tommie Lee,190.0,75.0,R,R,1962-04-10,1971-09-26,aarot101,aaronto01
3,aasedo01,1954.0,9.0,8.0,USA,CA,Orange,NaN,NaN,NaN,...,Aase,Donald William,190.0,75.0,R,R,1977-07-26,1990-10-03,aased001,aasedo01
4,abadan01,1972.0,8.0,25.0,USA,FL,Palm Beach,NaN,NaN,NaN,...,Abad,Fausto Andres,184.0,73.0,L,L,2001-09-10,2006-04-13,abada001,abadan01

In [41]:
people2 = people[['playerID', 'birthYear']]
people2.head()

    playerID  birthYear
0  aardsda01     1981.0
1  aaronha01     1934.0
2  aaronto01     1939.0
3   aasedo01     1954.0
4   abadan01     1972.0

In [40]:
batters2 = batters[batters.yearID >= 1900]
batters2.head()

,playerID,yearID,stint,teamID,lgID,G,AB,R,H,2B,...,RBI,SB,CS,BB,SO,IBB,HBP,SH,SF,GIDP
7915,allenbo01,1900,1,CIN,NL,5,15,0,2,1,...,1.0,0.0,NaN,0,4.0,NaN,1.0,0.0,NaN,NaN
7916,baileha01,1900,1,BSN,NL,4,9,2,2,0,...,1.0,0.0,NaN,0,2.0,NaN,0.0,0.0,NaN,NaN
7917,barreji01,1900,1,CIN,NL,137,545,114,172,11,...,42.0,44.0,NaN,72,63.0,NaN,5.0,10.0,NaN,NaN
7918,barrysh01,1900,1,BSN,NL,81,254,40,66,10,...,37.0,9.0,NaN,13,16.0,NaN,2.0,8.0,NaN,NaN
7919,beaumgi01,1900,1,PIT,NL,138,567,105,158,14,...,50.0,27.0,NaN,40,34.0,NaN,4.0,21.0,NaN,NaN

In [39]:
combined = batters2.groupby(['playerID','yearID'], as_index=False).sum()
combined.head()

,playerID,yearID,stint,G,AB,R,H,2B,3B,HR,RBI,SB,CS,BB,SO,IBB,HBP,SH,SF,GIDP
0,aardsda01,2004,1,11,0,0,0,0,0,0,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0
1,aardsda01,2006,1,45,2,0,0,0,0,0,0.0,0.0,0.0,0,0.0,0.0,0.0,1.0,0.0,0.0
2,aardsda01,2007,1,25,0,0,0,0,0,0,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0
3,aardsda01,2008,1,47,1,0,0,0,0,0,0.0,0.0,0.0,0,1.0,0.0,0.0,0.0,0.0,0.0
4,aardsda01,2009,1,73,0,0,0,0,0,0,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0

In [21]:
combined = combined.drop(columns=['stint'])
combined.head()

,playerID,yearID,G,AB,R,H,2B,3B,HR,RBI,SB,CS,BB,SO,IBB,HBP,SH,SF,GIDP
0,aardsda01,2004,11,0,0,0,0,0,0,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0
1,aardsda01,2006,45,2,0,0,0,0,0,0.0,0.0,0.0,0,0.0,0.0,0.0,1.0,0.0,0.0
2,aardsda01,2007,25,0,0,0,0,0,0,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0
3,aardsda01,2008,47,1,0,0,0,0,0,0.0,0.0,0.0,0,1.0,0.0,0.0,0.0,0.0,0.0
4,aardsda01,2009,73,0,0,0,0,0,0,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0

In [28]:
merged = combined.merge(people2, how='inner', on = 'playerID')
merged.head()

,playerID,yearID,G,AB,R,H,2B,3B,HR,RBI,SB,CS,BB,SO,IBB,HBP,SH,SF,GIDP,birthYear
0,aardsda01,2004,11,0,0,0,0,0,0,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,1981.0
1,aardsda01,2006,45,2,0,0,0,0,0,0.0,0.0,0.0,0,0.0,0.0,0.0,1.0,0.0,0.0,1981.0
2,aardsda01,2007,25,0,0,0,0,0,0,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,1981.0
3,aardsda01,2008,47,1,0,0,0,0,0,0.0,0.0,0.0,0,1.0,0.0,0.0,0.0,0.0,0.0,1981.0
4,aardsda01,2009,73,0,0,0,0,0,0,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,1981.0

In [31]:
merged['Age'] = merged['yearID']-merged['birthYear']
merged.head()

,playerID,yearID,G,AB,R,H,2B,3B,HR,RBI,...,CS,BB,SO,IBB,HBP,SH,SF,GIDP,birthYear,Age
0,aardsda01,2004,11,0,0,0,0,0,0,0.0,...,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,1981.0,23.0
1,aardsda01,2006,45,2,0,0,0,0,0,0.0,...,0.0,0,0.0,0.0,0.0,1.0,0.0,0.0,1981.0,25.0
2,aardsda01,2007,25,0,0,0,0,0,0,0.0,...,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,1981.0,26.0
3,aardsda01,2008,47,1,0,0,0,0,0,0.0,...,0.0,0,1.0,0.0,0.0,0.0,0.0,0.0,1981.0,27.0
4,aardsda01,2009,73,0,0,0,0,0,0,0.0,...,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,1981.0,28.0

In [65]:
merged['PA'] = merged['AB'] + merged['BB'] + merged['HBP'] + merged['SH'] + merged['SF']
merged.head()

,playerID,yearID,G,AB,R,H,2B,3B,HR,RBI,...,BB,SO,IBB,HBP,SH,SF,GIDP,birthYear,Age,PA
0,aardsda01,2004,11,0,0,0,0,0,0,0.0,...,0,0.0,0.0,0.0,0.0,0.0,0.0,1981.0,23.0,0.0
1,aardsda01,2006,45,2,0,0,0,0,0,0.0,...,0,0.0,0.0,0.0,1.0,0.0,0.0,1981.0,25.0,3.0
2,aardsda01,2007,25,0,0,0,0,0,0,0.0,...,0,0.0,0.0,0.0,0.0,0.0,0.0,1981.0,26.0,0.0
3,aardsda01,2008,47,1,0,0,0,0,0,0.0,...,0,1.0,0.0,0.0,0.0,0.0,0.0,1981.0,27.0,1.0
4,aardsda01,2009,73,0,0,0,0,0,0,0.0,...,0,0.0,0.0,0.0,0.0,0.0,0.0,1981.0,28.0,0.0

In [66]:
merged2 = merged[merged.PA >= 434]
merged2.head()

,playerID,yearID,G,AB,R,H,2B,3B,HR,RBI,...,BB,SO,IBB,HBP,SH,SF,GIDP,birthYear,Age,PA
9,aaronha01,1954,122,468,58,131,27,6,13,69.0,...,28,39.0,0.0,3.0,6.0,4.0,13.0,1934.0,20.0,509.0
10,aaronha01,1955,153,602,105,189,37,9,27,106.0,...,49,61.0,5.0,3.0,7.0,4.0,20.0,1934.0,21.0,665.0
11,aaronha01,1956,153,609,106,200,34,14,26,92.0,...,37,54.0,6.0,2.0,5.0,7.0,21.0,1934.0,22.0,660.0
12,aaronha01,1957,151,615,118,198,27,6,44,132.0,...,57,58.0,15.0,0.0,0.0,3.0,13.0,1934.0,23.0,675.0
13,aaronha01,1958,153,601,109,196,34,4,30,95.0,...,59,49.0,16.0,1.0,0.0,3.0,21.0,1934.0,24.0,664.0

In [67]:
y = merged2['playerID'].tolist()
z = np.unique(y)
len(z)

3074

In [91]:
for player in z:
    homers = []
    peak = []
    for index, row in merged2.iterrows():
        if row['playerID'] == player:
            homers.append(row['HR'])
    print(f'{player} {homers}')
    sd = np.std(homers)
    mean = np.mean(homers)
    print(mean)

aaronha01 [13, 27, 26, 44, 30, 39, 40, 34, 45, 44, 24, 32, 44, 39, 29, 44, 38, 47, 34, 40, 12]
34.523809523809526
abbated01 [1, 3, 3, 2, 1]
2.0
abbotku01 [17]
17.0
abernbr01 [2]
2.0
abramca01 [15, 6]
10.5

KeyboardInterrupt:

In [70]:
homers

[13,
 27,
 26,
 44,
 30,
 39,
 40,
 34,
 45,
 44,
 24,
 32,
 44,
 39,
 29,
 44,
 38,
 47,
 34,
 40,
 12,
 1,
 3,
 3,
 2,
 1,
 17,
 2,
 15,
 6,
 17,
 20,
 25,
 31,
 20,
 20,
 30,
 24,
 15,
 16,
 20,
 15,
 20,
 8,
 36,
 30,
 25,
 33,
 1,
 12,
 14,
 11,
 9,
 7,
 4,
 3,
 5,
 5,
 6,
 8,
 3,
 4,
 17,
 22,
 15,
 8,
 1,
 2,
 0,
 0,
 0,
 0,
 1,
 1,
 18,
 23,
 38,
 25,
 25,
 35,
 29,
 22,
 14,
 26,
 24,
 14,
 13,
 11,
 0,
 9,
 21,
 20,
 17,
 23,
 3,
 25,
 20,
 3,
 8,
 27,
 10,
 17,
 27,
 25,
 17,
 16,
 13,
 11,
 6,
 5,
 5,
 6,
 5,
 12,
 9,
 10,
 29,
 20,
 40,
 23,
 33,
 32,
 34,
 23,
 37,
 32,
 12,
 1,
 6,
 10,
 8,
 4,
 3,
 5,
 7,
 6,
 4,
 8,
 3,
 30,
 15,
 29,
 29,
 35,
 32,
 23,
 24,
 22,
 3,
 5,
 4,
 2,
 0,
 4,
 9,
 7,
 6,
 9,
 8,
 17,
 8,
 13,
 22,
 14,
 14,
 24,
 19,
 20,
 11,
 5,
 1,
 2,
 4,
 1,
 0,
 2,
 9,
 11,
 21,
 6,
 9,
 7,
 28,
 18,
 25,
 20,
 9,
 23,
 31,
 15,
 11,
 5,
 8,
 8,
 9,
 5,
 0,
 5,
 1,
 2,
 2,
 2,
 0,
 1,
 1,
 7,
 4,
 2,
 18,
 22,
 21,
 23,
 38,
 30,
 27,
 15,
 22,
 39,
 19,
 3,
 2,
 1,
 1,
 2,
 1,
 12,
 27,
 22,
 9,
 9,
 7,
 5,
 7,
 15,
 24,
 24,
 30,
 36,
 18,
 27,
 22,
 21,
 17,
 21,
 8,
 1,
 5,
 1,
 1,
 0,
 2,
 10,
 21,
 13,
 12,
 16,
 50,
 18,
 18,
 24,
 19,
 8,
 12,
 8,
 15,
 21,
 35,
 28,
 29,
 29,
 14,
 17,
 17,
 16,
 15,
 13,
 2,
 1,
 17,
 23,
 14,
 8,
 4,
 2,
 3,
 1,
 3,
 5,
 11,
 8,
 6,
 5,
 0,
 17,
 5,
 8,
 7,
 15,
 17,
 7,
 0,
 0,
 25,
 6,
 0,
 5,
 3,
 4,
 2,
 7,
 8,
 20,
 25,
 19,
 15,
 1,
 10,
 8,
 1,
 4,
 3,
 3,
 2,
 6,
 2,
 6,
 7,
 5,
 10,
 8,
 6,
 4,
 4,
 5,
 5,
 4,
 3,
 0,
 3,
 6,
 2,
 1,
 6,
 4,
 0,
 0,
 1,
 3,
 3,
 1,
 8,
 0,
 5,
 3,
 15,
 10,
 18,
 42,
 41,
 37,
 23,
 21,
 18,
 35,
 22,
 28,
 36,
 43,
 11,
 2,
 10,
 4,
 5,
 10,
 12,
 2,
 1,
 2,
 4,
 1,
 2,
 1,
 3,
 3,
 0,
 2,
 1,
 0,
 7,
 2,
 14,
 11,
 8,
 12,
 5,
 8,
 6,
 1,
 10,
 13,
 29,
 25,
 21,
 0,
 2,
 11,
 9,
 22,
 20,
 37,
 15,
 13,
 6,
 14,
 23,
 10,
 4,
 6,
 9,
 7,
 5,
 6,
 4,
 5,
 3,
 2,
 1,
 2,
 2,
 2,
 2,
 0,
 1,
 1,
 0,
 0,
 1,
 12,
 18,
 19,
 32,
 32,
 11,
 31,
 19,
 28,
 21,
 14,
 19,
 9,
 11,
 10,
 7,
 8,
 15,
 13,
 10,
 5,
 5,
 10,
 8,
 13,
 5,
 5,
 10,
 8,
 6,
 7,
 3,
 3,
 0,
 0,
 1,
 1,
 1,
 11,
 20,
 21,
 19,
 15,
 12,
 9,
 7,
 14,
 23,
 15,
 18,
 20,
 39,
 21,
 31,
 43,
 34,
 42,
 47,
 39,
 31,
 39,
 27,
 12,
 11,
 11,
 14,
 16,
 26,
 20,
 28,
 20,
 12,
 13,
 13,
 1,
 5,
 1,
 1,
 13,
 25,
 20,
 29,
 22,
 21,
 20,
 13,
 16,
 16,
 20,
 16,
 20,
 24,
 22,
 16,
 25,
 1,
 1,
 0,
 17,
 21,
 20,
 19,
 30,
 11,
 23,
 29,
 9,
 23,
 15,
 0,
 1,
 4,
 2,
 11,
 10,
 12,
 9,
 6,
 6,
 10,
 13,
 11,
 12,
 3,
 28,
 36,
 29,
 23,
 11,
 16,
 0,
 3,
 7,
 3,
 4,
 0,
 0,
 6,
 4,
 1,
 2,
 1,
 0,
 9,
 31,
 20,
 24,
 15,
 29,
 22,
 15,
 27,
 17,
 17,
 9,
 19,
 44,
 28,
 43,
 47,
 45,
 41,
 29,
 37,
 18,
 23,
 28,
 15,
 23,
 32,
 23,
 3,
 2,
 1,
 21,
 19,
 0,
 0,
 1,
 3,
 0,
 1,
 5,
 18,
 27,
 40,
 28,
 18,
 23,
 25,
 13,
 3,
 7,
 23,
 12,
 8,
 8,
 2,
 7,
 7,
 6,
 3,
 4,
 2,
 4,
 3,
 5,
 4,
 4,
 2,
 0,
 1,
 7,
 15,
 3,
 5,
 4,
 3,
 1,
 8,
 6,
 16,
 16,
 1,
 3,
 1,
 0,
 3,
 0,
 0,
 2,
 3,
 1,
 1,
 1,
 2,
 4,
 0,
 1,
 1,
 0,
 14,
 8,
 14,
 9,
 7,
 5,
 5,
 1,
 14,
 4,
 2,
 9,
 10,
 16,
 20,
 19,
 14,
 0,
 0,
 0,
 1,
 5,
 0,
 10,
 17,
 15,
 10,
 6,
 2,
 1,
 2,
 3,
 1,
 6,
 3,
 2,
 31,
 41,
 25,
 31,
 26,
 32,
 15,
 17,
 11,
 26,
 12,
 6,
 13,
 17,
 10,
 20,
 26,
 18,
 12,
 5,
 4,
 2,
 4,
 3,
 11,
 16,
 15,
 54,
 43,
 28,
 35,
 40,
 22,
 23,
 0,
 1,
 3,
 0,
 26,
 32,
 35,
 21,
 31,
 36,
 12,
 11,
 10,
 25,
 15,
 25,
 34,
 36,
 24,
 21,
 27,
 23,
 31,
 16,
 5,
 8,
 0,
 7,
 3,
 4,
 2,
 0,
 2,
 3,
 6,
 6,
 9,
 9,
 3,
 1,
 5,
 4,
 1,
 3,
 2,
 3,
 6,
 2,
 12,
 10,
 10,
 11,
 9,
 10,
 16,
 9,
 22,
 2,
 3,
 5,
 2,
 1,
 1,
 3,
 2,
 2,
 1,
 0,
 0,
 5,
 3,
 1,
 2,
 11,
 14,
 13,
 4,
 9,
 14,
 7,
 10,
 7,
 11,
 6,
 18,
 17,
 13,
 14,
 11,
 10,
 20,
 17,
 10,
 21,
 11,
 15,
 20,
 18,
 10,
 10,
 21,
 14,
 8,
 17,
 15,
 22,
 12,
 18,
 28,
 34,
 38,
 36,
 50,
 48,
 30,
 49,
 37,
 23,
 26,
 28,
 31,
 47,
 24,
 18,
 21,
 25,
 25,
 13,
 8,
 16,
 16,
 30,
 17,
 27,
 29,
 13,
 19,
 12,
 27,
 17,
 39,
 8,
 8,
 8,
 12,
 17,
 13,
 11,
 7,
 16,
 9,
 9,
 9,
 13,
 13,
 21,
 20,
 38,
 18,
 13,
 26,
 11,
 17,
 9,
 10,
 9,
 7,
 17,
 18,
 17,
 18,
 15,
 20,
 13,
 21,
 23,
 48,
 19,
 25,
 26,
 25,
 8,
 28,
 32,
 36,
 30,
 19,
 18,
 32,
 22,
 24,
 29,
 26,
 38,
 16,
 41,
 33,
 27,
 22,
 32,
 24,
 15,
 19,
 29,
 14,
 5,
 16,
 12,
 15,
 26,
 45,
 27,
 40,
 25,
 33,
 28,
 16,
 31,
 23,
 22,
 13,
 3,
 2,
 20,
 0,
 10,
 11,
 8,
 3,
 1,
 13,
 17,
 3,
 5,
 16,
 5,
 5,
 5,
 3,
 5,
 38,
 19,
 17,
 27,
 34,
 34,
 25,
 16,
 0,
 7,
 34,
 42,
 ...]