In [66]:
import csv
import os
import pandas as pd

In [67]:
file = os.path.join('data', 'Fielding.csv')
fielding = pd.read_csv(file)
fielding.head()

,playerID,yearID,stint,teamID,lgID,POS,G,GS,InnOuts,PO,A,E,DP,PB,WP,SB,CS,ZR
0,abercda01,1871,1,TRO,NaN,SS,1,1.0,24.0,1,3,2.0,0,NaN,NaN,NaN,NaN,NaN
1,addybo01,1871,1,RC1,NaN,2B,22,22.0,606.0,67,72,42.0,5,NaN,NaN,NaN,NaN,NaN
2,addybo01,1871,1,RC1,NaN,SS,3,3.0,96.0,8,14,7.0,0,NaN,NaN,NaN,NaN,NaN
3,allisar01,1871,1,CL1,NaN,2B,2,0.0,18.0,1,4,0.0,0,NaN,NaN,NaN,NaN,NaN
4,allisar01,1871,1,CL1,NaN,OF,29,29.0,729.0,51,3,7.0,1,NaN,NaN,NaN,NaN,NaN

In [68]:
file = os.path.join('data', 'People.csv')
people = pd.read_csv(file)
people.head()

,playerID,birthYear,birthMonth,birthDay,birthCountry,birthState,birthCity,deathYear,deathMonth,deathDay,...,nameLast,nameGiven,weight,height,bats,throws,debut,finalGame,retroID,bbrefID
0,aardsda01,1981.0,12.0,27.0,USA,CO,Denver,NaN,NaN,NaN,...,Aardsma,David Allan,215.0,75.0,R,R,2004-04-06,2015-08-23,aardd001,aardsda01
1,aaronha01,1934.0,2.0,5.0,USA,AL,Mobile,NaN,NaN,NaN,...,Aaron,Henry Louis,180.0,72.0,R,R,1954-04-13,1976-10-03,aaroh101,aaronha01
2,aaronto01,1939.0,8.0,5.0,USA,AL,Mobile,1984.0,8.0,16.0,...,Aaron,Tommie Lee,190.0,75.0,R,R,1962-04-10,1971-09-26,aarot101,aaronto01
3,aasedo01,1954.0,9.0,8.0,USA,CA,Orange,NaN,NaN,NaN,...,Aase,Donald William,190.0,75.0,R,R,1977-07-26,1990-10-03,aased001,aasedo01
4,abadan01,1972.0,8.0,25.0,USA,FL,Palm Beach,NaN,NaN,NaN,...,Abad,Fausto Andres,184.0,73.0,L,L,2001-09-10,2006-04-13,abada001,abadan01

In [69]:
merge_data = pd.merge(fielding,people[['playerID','birthYear']],on='playerID', how='left')
merge_data.head()

,playerID,yearID,stint,teamID,lgID,POS,G,GS,InnOuts,PO,A,E,DP,PB,WP,SB,CS,ZR,birthYear
0,abercda01,1871,1,TRO,NaN,SS,1,1.0,24.0,1,3,2.0,0,NaN,NaN,NaN,NaN,NaN,1850.0
1,addybo01,1871,1,RC1,NaN,2B,22,22.0,606.0,67,72,42.0,5,NaN,NaN,NaN,NaN,NaN,1842.0
2,addybo01,1871,1,RC1,NaN,SS,3,3.0,96.0,8,14,7.0,0,NaN,NaN,NaN,NaN,NaN,1842.0
3,allisar01,1871,1,CL1,NaN,2B,2,0.0,18.0,1,4,0.0,0,NaN,NaN,NaN,NaN,NaN,1849.0
4,allisar01,1871,1,CL1,NaN,OF,29,29.0,729.0,51,3,7.0,1,NaN,NaN,NaN,NaN,NaN,1849.0

In [70]:
clean_df = merge_data[merge_data.yearID > 1899]
clean_df.head(10)

,playerID,yearID,stint,teamID,lgID,POS,G,GS,InnOuts,PO,A,E,DP,PB,WP,SB,CS,ZR,birthYear
14691,allenbo01,1900,1,CIN,NL,SS,5,NaN,93.0,6,13,3.0,1,NaN,NaN,NaN,NaN,NaN,1867.0
14692,baileha01,1900,1,BSN,NL,P,4,NaN,60.0,1,8,0.0,0,NaN,NaN,NaN,NaN,NaN,1876.0
14693,barreji01,1900,1,CIN,NL,OF,137,NaN,3561.0,287,25,24.0,6,NaN,NaN,NaN,NaN,NaN,1875.0
14694,barrysh01,1900,1,BSN,NL,1B,10,NaN,270.0,103,2,4.0,5,NaN,NaN,NaN,NaN,NaN,1878.0
14695,barrysh01,1900,1,BSN,NL,2B,16,NaN,327.0,32,22,9.0,5,NaN,NaN,NaN,NaN,NaN,1878.0
14696,barrysh01,1900,1,BSN,NL,3B,1,NaN,18.0,0,2,1.0,0,NaN,NaN,NaN,NaN,NaN,1878.0
14697,barrysh01,1900,1,BSN,NL,OF,24,NaN,567.0,39,4,2.0,2,NaN,NaN,NaN,NaN,NaN,1878.0
14698,barrysh01,1900,1,BSN,NL,SS,18,NaN,387.0,25,52,7.0,1,NaN,NaN,NaN,NaN,NaN,1878.0
14699,beaumgi01,1900,1,PIT,NL,OF,138,NaN,3618.0,274,10,17.0,3,NaN,NaN,NaN,NaN,NaN,1876.0
14700,becklja01,1900,1,CIN,NL,1B,140,NaN,3675.0,1389,93,30.0,91,NaN,NaN,NaN,NaN,NaN,1867.0

In [71]:
clean_df['age'] = clean_df['yearID']-clean_df['birthYear']
clean_df.head(10)

C:\Users\alexb\Anaconda3\lib\site-packages\ipykernel\__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

,playerID,yearID,stint,teamID,lgID,POS,G,GS,InnOuts,PO,A,E,DP,PB,WP,SB,CS,ZR,birthYear,age
14691,allenbo01,1900,1,CIN,NL,SS,5,NaN,93.0,6,13,3.0,1,NaN,NaN,NaN,NaN,NaN,1867.0,33.0
14692,baileha01,1900,1,BSN,NL,P,4,NaN,60.0,1,8,0.0,0,NaN,NaN,NaN,NaN,NaN,1876.0,24.0
14693,barreji01,1900,1,CIN,NL,OF,137,NaN,3561.0,287,25,24.0,6,NaN,NaN,NaN,NaN,NaN,1875.0,25.0
14694,barrysh01,1900,1,BSN,NL,1B,10,NaN,270.0,103,2,4.0,5,NaN,NaN,NaN,NaN,NaN,1878.0,22.0
14695,barrysh01,1900,1,BSN,NL,2B,16,NaN,327.0,32,22,9.0,5,NaN,NaN,NaN,NaN,NaN,1878.0,22.0
14696,barrysh01,1900,1,BSN,NL,3B,1,NaN,18.0,0,2,1.0,0,NaN,NaN,NaN,NaN,NaN,1878.0,22.0
14697,barrysh01,1900,1,BSN,NL,OF,24,NaN,567.0,39,4,2.0,2,NaN,NaN,NaN,NaN,NaN,1878.0,22.0
14698,barrysh01,1900,1,BSN,NL,SS,18,NaN,387.0,25,52,7.0,1,NaN,NaN,NaN,NaN,NaN,1878.0,22.0
14699,beaumgi01,1900,1,PIT,NL,OF,138,NaN,3618.0,274,10,17.0,3,NaN,NaN,NaN,NaN,NaN,1876.0,24.0
14700,becklja01,1900,1,CIN,NL,1B,140,NaN,3675.0,1389,93,30.0,91,NaN,NaN,NaN,NaN,NaN,1867.0,33.0

In [72]:
clean_df = clean_df[clean_df.G > 90]
clean_df.head()

,playerID,yearID,stint,teamID,lgID,POS,G,GS,InnOuts,PO,A,E,DP,PB,WP,SB,CS,ZR,birthYear,age
14693,barreji01,1900,1,CIN,NL,OF,137,NaN,3561.0,287,25,24.0,6,NaN,NaN,NaN,NaN,NaN,1875.0,25.0
14699,beaumgi01,1900,1,PIT,NL,OF,138,NaN,3618.0,274,10,17.0,3,NaN,NaN,NaN,NaN,NaN,1876.0,24.0
14700,becklja01,1900,1,CIN,NL,1B,140,NaN,3675.0,1389,93,30.0,91,NaN,NaN,NaN,NaN,NaN,1867.0,33.0
14707,bradlbi01,1900,1,CHN,NL,3B,106,NaN,2835.0,164,291,61.0,11,NaN,NaN,NaN,NaN,NaN,1878.0,22.0
14713,burkeje01,1900,1,SLN,NL,OF,141,NaN,3639.0,337,17,25.0,6,NaN,NaN,NaN,NaN,NaN,1868.0,32.0

In [73]:
clean_df.count()

playerID     16531
yearID       16531
stint        16531
teamID       16531
lgID         16531
POS          16531
G            16531
GS           10912
InnOuts      10961
PO           16531
A            16531
E            16531
DP           16531
PB            1748
WP             227
SB            1234
CS            1234
ZR             227
birthYear    16531
age          16531
dtype: int64

In [74]:
fielding_data = clean_df.drop(columns=['ZR', 'CS', 'SB', 'WP', 'PB', 'stint', 'GS', 'teamID', 'lgID'])
fielding_data.head()

,playerID,yearID,POS,G,InnOuts,PO,A,E,DP,birthYear,age
14693,barreji01,1900,OF,137,3561.0,287,25,24.0,6,1875.0,25.0
14699,beaumgi01,1900,OF,138,3618.0,274,10,17.0,3,1876.0,24.0
14700,becklja01,1900,1B,140,3675.0,1389,93,30.0,91,1867.0,33.0
14707,bradlbi01,1900,3B,106,2835.0,164,291,61.0,11,1878.0,22.0
14713,burkeje01,1900,OF,141,3639.0,337,17,25.0,6,1868.0,32.0

In [78]:
fielding_data['Range Factor'] = (fielding_data['A']+fielding_data['A'])/fielding_data['G']
fielding_data.head()

,playerID,yearID,POS,G,InnOuts,PO,A,E,DP,birthYear,age,Range Factor
14693,barreji01,1900,OF,137,3561.0,287,25,24.0,6,1875.0,25.0,0.364964
14699,beaumgi01,1900,OF,138,3618.0,274,10,17.0,3,1876.0,24.0,0.144928
14700,becklja01,1900,1B,140,3675.0,1389,93,30.0,91,1867.0,33.0,1.328571
14707,bradlbi01,1900,3B,106,2835.0,164,291,61.0,11,1878.0,22.0,5.490566
14713,burkeje01,1900,OF,141,3639.0,337,17,25.0,6,1868.0,32.0,0.241135

In [122]:
position_df = fielding_data.sort_values('POS')
position_df.head()

,playerID,yearID,POS,G,InnOuts,PO,A,E,DP,birthYear,age,Range Factor
119490,larocad01,2007,1B,151,3904.0,1296,81,6.0,154,1979.0,28.0,1.072848
34598,terrybi01,1928,1B,149,NaN,1584,78,12.0,148,1898.0,30.0,1.046980
34606,todtph01,1928,1B,144,NaN,1486,94,5.0,96,1901.0,27.0,1.305556
91525,galaran01,1990,1B,154,3955.0,1300,94,10.0,93,1961.0,29.0,1.220779
73199,chambch01,1976,1B,155,4200.0,1440,109,9.0,123,1948.0,28.0,1.406452